.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.env
coverage
.nyc_output
build/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/src/**/*.js

storage/*
!storage/.gitkeep

.vscode